img
    height: 100%
    max-width: 152px
.inner-col .description-col
  &:focus
    outline: none

.description-col .product-desc, .description-col .product-img 
    &:focus
    outline: none
.description-col .product-img 
    width: 230px
.price
    min-width: 110px
    &h4  
    margin: 0 auto    
.icon
    width: 100%
    display: flex
    justify-content: flex-end
    position: relative
    right: 5px
    top: 5px
    color: #fb3f4c
    &:hover
         cursor: pointer     

