img
    height: 100%
    max-width: 152px
.inner-col .description-col
  &:focus
    outline: none

.description-col .product-desc, .description-col .product-img 
    &:focus
    outline: none
.description-col .product-img 
    width: 230px
.price
    min-width: 110px
    &h4  
    margin: 0 auto    
.icon
    width: 100%
    display: flex
    flex-direction: row
    justify-content: flex-end
    align-items: center
    // margin: 0px 10px 0px 0px
    color: #fb3f4c
    &:hover
         cursor: pointer     

