<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      Меню
      <button type="button" class="btn-close float-none px-2 py-2" data-dismiss="modal" aria-label="Close"
        (click)='close()'>
        <img loading="lazy" src="assets/icons/icon-close.svg" alt="close" />
      </button>
    </div>
    <div class="modal-menu">
      <a *ngFor='let category of categories | async' href="#" class="modal-menu__item is-submenu" data-toggle="modal"
        data-target="#menuItemModal">
        {{ category.name }}
      </a>
    </div>
  </div>
</div>