<footer class="footer">
  <div class="container">
    <div class="footer-inner">
      <div class="footer-menu">
        <a class="text-muted">Terms and Conditions</a>
        <span class="d-none d-md-inline-flex">&nbsp;|&nbsp;</span>
        <a class="text-muted">Privacy</a>
        <span class="d-none d-md-inline-flex">&nbsp;|&nbsp;</span>
        <a class="text-muted">Cookies</a>
        <span class="d-none d-md-inline-flex">&nbsp;|&nbsp;</span>
        <a class="text-muted">Home shopping guarantee</a>
      </div>
      <div>
        © 1998-2019, NgShop.com, Inc. or its affiliates
      </div>
    </div>
  </div>
</footer>
