<div id="productCarousel" class="main-carousel carousel slide">

  <ol class="carousel-indicators">
    <li [ngClass]="{ active: j === currentIndex }" *ngFor="let baner of items; let j = index" (click)="show(j)">
    </li>
  </ol>


  <div class="carousel-inner"  @initSliderAnimation >
    <ng-container *ngFor="let baner of items; let i = index">
      <div [@slideAnimation]="{
          value: '',
          params: isSlidedRight ? animateRight : animateLeft
        }" (@slideAnimation.start)="animationStart()" (@slideAnimation.done)="animationEnd()"
        *ngIf="i === currentIndex" class="carousel-item">
        <img class="third-slide" src="assets/images/default-slide-img.jpg" alt="Third slide" />
        <div class="container">
          <div class="carousel-caption">
            <h3 class="h1">ЛУЧШИЕ ИЗ КАТЕГОРИИ {{baner.title}}</h3>
            <div>
              <a class="btn" (click)='redirectTo(baner.subCategoryId)' role="button">

                Посмотреть все предложения
                <img src="assets/icons/icon-angle-white.svg" class="ml-3" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <a *ngIf="items?.length > 1" class="carousel-control-prev" (click)="prev()">
    <span class="carousel-control-prev-icon"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a *ngIf="items?.length > 1" class="carousel-control-next" (click)="next()">
    <span class="carousel-control-next-icon"></span>
    <span class="sr-only">Next</span>
  </a>
</div>