<div id="productCarousel" class="product-carousel carousel slide">
  <ol class="carousel-indicators">
    <li [ngClass]="{ active: j === currentIndex }" *ngFor="let image of items; let j = index" (click)="show(j)">
      <img [src]="image?.url" />
    </li>
  </ol>
  <div class="carousel-inner">
    <div [@initSliderAnimation] *ngFor="let image of items; let i = index">
      <div [@slideAnimation]="{
            value: '',
            params: isSlidedRight ? animateRight : animateLeft
          }" (@slideAnimation.start)="animationStart()" (@slideAnimation.done)="animationEnd()"
        *ngIf="i === currentIndex" class="carousel-item">
        <div class="img-wrap">
          <img *ngIf="image" [src]="image?.url" />
        </div>
      </div>
    </div>
  </div>

  <a *ngIf=" items?.length > 1" class="carousel-control-prev" (click)="prev()">
    <span class="carousel-control-prev-icon"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a *ngIf=" items?.length > 1" class="carousel-control-next" (click)="next()">
    <span class="carousel-control-next-icon"></span>
    <span class="sr-only">Next</span>
  </a>
</div>