<div id="mainCarousel" class="main-carousel carousel slide">
  <ol class="carousel-indicators">
    <li
      [ngClass]="{ active: j === currentIndex }"
      *ngFor="let image of images; let j = index"
      (click)='show(j)'
    >
    </li>
  </ol>
  <div class="carousel-inner">
    <ng-container  *ngFor="let image of images; let i = index">
      <div
        [@slideAnimation]="{value: '', params: isSlidedRight ? animateRight : animateLeft}"
        (@slideAnimation.start)="animationStart()"
        (@slideAnimation.done)="animationEnd()"
        *ngIf="i === currentIndex"
        class="img_wrap"
      >
        <div class="img-wrap"  [ngStyle]="{backgroundImage: getImgUrl(image)}" >
        </div>
      </div>
    </ng-container>

  </div>
  <a *ngIf=' images.length > 1' class="carousel-control-prev" (click)="prev()">
    <span class="carousel-control-prev-icon"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a *ngIf=' images.length > 1' class="carousel-control-next" (click)="next()">
    <span class="carousel-control-next-icon"></span>
    <span class="sr-only">Next</span>
  </a>
</div>