<main role="main">
  <div class="container">
    <div class="row">
        <div class="col-lg-4 col-xl-3">
            <h6 class="mt-4 mt-lg-2 mb-4">Другие категории</h6>

            <div id="accordion" class="aside-accordion-menu list-group">
                <ul class="mb-0">
                    <li *ngFor="let category of categories$ | async; let i = index" class="list-group-item dropdown" [ngClass]="{collapsed : i !== currentIndex}"  [ngClass]="{collapsed : i === currentIndex}">
                        <a class="nav-link dropdown-toggle" (click)="hover(i)">
                          {{category.name}}
                        </a>
                        <ul  class  ="collapse" [ngClass]="{show : i === currentIndex}">
                          <li class="dropdown-item" *ngFor="let subCategory of category.subCategories"><a href="{{subCategory.name}}">{{subCategory.name}}</a></li>
                        </ul> 
                      </li>  
                </ul>
            </div>

            <h3 class="h5 mt-5 mb-4">Фильтры по товарам</h3>
            <h6 class="mb-2 pb-1">Название</h6>
            <input type="text" class="form-control" [formControl]="inputForm" placeholder="Фильтр по названию">
            <app-brands></app-brands>
            <app-price-slider></app-price-slider>
        </div>
      <div class="col-lg-8 col-xl-9">
        <h3 class="h5 mt-4 mt-md-0 pt-1 mb-4">{{query.name}}</h3>
        <p>{{query.id}}</p>
        <div class="product-list-box">
          <div class="inner-col description-col">
            <div class="product-img">
              <img src="assets/images/canon1.png" alt="img" />
            </div>
            <div class="product-desc">
              <h4 class="col-title mb-2">
                Canon EOS 200D Digital SLR Camera
              </h4>
              <div class="rate">
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <span class="rate-amount ml-2 d-inline-block d-md-none">
                  121
                </span>
              </div>
              <p class="rate-amount d-none d-md-block mt-1">11 reviews</p>
              <p class="price-text mb-0 mt-2 d-inline-block d-md-none">
                <strong>€ 47.31</strong>
              </p>
            </div>
          </div>
          <div class="default-col inner-col price-col">
            <h4 class="col-title price-text mb-2">€ 491</h4>
            <div>
              <button type="button" class="btn btn-outline-primary">
                Add to basket
              </button>
            </div>
          </div>
        </div>
        <div class="product-list-box">
          <div class="inner-col description-col">
            <div class="product-img">
              <img src="assets/images/canon2.png" alt="img" />
            </div>
            <div class="product-desc">
              <h4 class="col-title mb-2">Canon EOS 2000D SLR Camera</h4>
              <div class="rate">
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <span class="rate-amount ml-2 d-inline-block d-md-none"
                  >24</span
                >
              </div>
              <p class="rate-amount d-none d-md-block mt-1">24 reviews</p>
              <p
                class="price-text discount mb-0 mt-2 d-inline-block d-md-none"
              >
                <strong>€ 359</strong><small class="ml-2">€ 395</small>
              </p>
            </div>
          </div>
          <div class="default-col inner-col price-col">
            <h4 class="col-title price-text discount mb-2">
              € 359 <small class="ml-2">€ 395</small>
            </h4>
            <div>
              <button type="button" class="btn btn-outline-primary">
                Add to basket
              </button>
            </div>
          </div>
        </div>
        <div class="product-list-box">
          <div class="inner-col description-col">
            <div class="product-img">
              <img src="assets/images/nikon1.png" alt="img" />
            </div>
            <div class="product-desc">
              <h4 class="col-title mb-2">
                Nikon D5300 Kit schwarz + AF-S DX 18-105 VR
              </h4>
              <div class="rate">
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <span class="rate-amount ml-2 d-inline-block d-md-none">
                  121
                </span>
              </div>
              <p class="rate-amount d-none d-md-block mt-1">11 reviews</p>
              <p class="price-text mb-0 mt-2 d-inline-block d-md-none">
                <strong>€ 777</strong>
              </p>
            </div>
          </div>
          <div class="default-col inner-col price-col">
            <h4 class="col-title price-text mb-2">€ 777</h4>
            <div>
              <button type="button" class="btn btn-outline-primary">
                Add to basket
              </button>
            </div>
          </div>
        </div>
        <div class="product-list-box">
          <div class="inner-col description-col">
            <div class="product-img">
              <img src="assets/images/sony1.png" alt="img" />
            </div>
            <div class="product-desc">
              <h4 class="col-title mb-2">
                Sony A6000 Interchangeable Lens Digital Camera
              </h4>
              <div class="rate">
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <span class="rate-amount ml-2 d-inline-block d-md-none">
                  11
                </span>
              </div>
              <p class="rate-amount d-none d-md-block mt-1">11 reviews</p>
              <p class="price-text mb-0 mt-2 d-inline-block d-md-none">
                <strong>€ 523</strong>
              </p>
            </div>
          </div>
          <div class="default-col inner-col price-col">
            <h4 class="col-title price-text mb-2">€ 523</h4>
            <div>
              <button type="button" class="btn btn-outline-primary">
                Add to basket
              </button>
            </div>
          </div>
        </div>
        <div class="product-list-box">
          <div class="inner-col description-col">
            <div class="product-img">
              <img src="assets/images/sony2.png" alt="img" />
            </div>
            <div class="product-desc">
              <h4 class="col-title mb-2">
                Sony A6000 Interchangeable Lens Digital Camera
              </h4>
              <div class="rate">
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <span class="rate-amount ml-2 d-inline-block d-md-none">
                  11
                </span>
              </div>
              <p class="rate-amount d-none d-md-block mt-1">11 reviews</p>
              <p class="price-text mb-0 mt-2 d-inline-block d-md-none">
                <strong>€ 523</strong>
              </p>
            </div>
          </div>
          <div class="default-col inner-col price-col">
            <h4 class="col-title price-text mb-2">€ 523</h4>
            <div>
              <button type="button" class="btn btn-outline-primary">
                Add to basket
              </button>
            </div>
          </div>
        </div>
        <div class="product-list-box">
          <div class="inner-col description-col">
            <div class="product-img">
              <img src="assets/images/sony3.png" alt="img" />
            </div>
            <div class="product-desc">
              <h4 class="col-title mb-2">Fujifilm X-T100 System Camera</h4>
              <div class="rate">
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <span class="rate-amount ml-2 d-inline-block d-md-none">
                  11
                </span>
              </div>
              <p class="rate-amount d-none d-md-block mt-1">11 reviews</p>
              <p class="price-text mb-0 mt-2 d-inline-block d-md-none">
                <strong>€ 599</strong>
              </p>
            </div>
          </div>
          <div class="default-col inner-col price-col">
            <h4 class="col-title price-text mb-2">€ 599</h4>
            <div>
              <button type="button" class="btn btn-outline-primary">
                Add to basket
              </button>
            </div>
          </div>
        </div>
        <div class="product-list-box">
          <div class="inner-col description-col">
            <div class="product-img">
              <img src="assets/images/sony4.png" alt="img" />
            </div>
            <div class="product-desc">
              <h4 class="col-title mb-2">Sony Cyber-SHOT DSC-RX10</h4>
              <div class="rate">
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <i class="icon-star checked"></i>
                <span class="rate-amount ml-2 d-inline-block d-md-none">
                  11
                </span>
              </div>
              <p class="rate-amount d-none d-md-block mt-1">11 reviews</p>
              <p class="price-text mb-0 mt-2 d-inline-block d-md-none">
                <strong>€ 675</strong>
              </p>
            </div>
          </div>
          <div class="default-col inner-col price-col">
            <h4 class="col-title price-text mb-2">€ 675</h4>
            <div>
              <button type="button" class="btn btn-outline-primary">
                Add to basket
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!--<footer class="footer">
  <div class="container">
    <div class="footer-inner">
      <div class="footer-menu">
        <a href="#" class="text-muted">Terms and Conditions</a>
        <span class="d-none d-md-inline-flex">|</span>
        <a href="#" class="text-muted">Privacy</a>
        <span class="d-none d-md-inline-flex">|</span>
        <a href="#" class="text-muted">Cookies</a>
        <span class="d-none d-md-inline-flex">|</span>
        <a href="#" class="text-muted">Home shopping guarantee</a>
      </div>
      <div>
        © 1998-2019, AnyShop.com, Inc. or its affiliates
      </div>
    </div>
  </div>
</footer>
<div
  class="modal fade"
  id="xsMenuModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="xsMenuModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        Menu
        <button
          type="button"
          class="btn-close float-none px-2 py-2"
          data-dismiss="modal"
          aria-label="Close"
        >
          <img src="assets/icons/icon-close.svg" alt="close" />
        </button>
      </div>
      <div class="modal-menu">
        <a href="#" class="modal-menu__item">Sales</a>
        <a href="#" class="modal-menu__item">Gift Cards</a>
        <a href="#" class="modal-menu__item">Login</a>
        <a href="#" class="modal-menu__item">Register</a>
        <a href="#" class="modal-menu__item">
          Have a question?
          <img src="assets/icons/icon-chat.svg" alt="" />
        </a>
        <h3 class="h6 mb-0 modal-menu__title">Product categories</h3>
        <a
          href="#"
          class="modal-menu__item is-submenu"
          data-toggle="modal"
          data-target="#menuItemModal"
        >
          Camera & Photo
        </a>
        <a href="#" class="modal-menu__item is-submenu"
          >Home Cinema, TV & Video</a
        >
        <a href="#" class="modal-menu__item is-submenu">Mobile Phones</a>
        <a href="#" class="modal-menu__item is-submenu"
          >Computers & Components</a
        >
      </div>
    </div>
  </div>
</div> -->