<main role="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-xl-3">
        <h6 class="mt-4 mt-lg-2 mb-4">Другие категории</h6>

        <div class="aside-accordion-menu list-group">
          <ul>
            <li
              *ngFor="let category of categories$ | async; let i = index"
              class="list-group-item"
            >
              <h5
                class="mb-0"
                [ngClass]="{ collapsed: i !== currentIndex }"
                (click)="hover(i)"
              >
                {{ category.name }}
                <img src="assets/icons/icon-angle.svg" alt="angle-right" />
              </h5>
              <ul
                class="collapse"
                *ngIf="!isShow"
                data-parent="#accordion"
                [ngClass]="{ show: i === currentIndex }"
              >
                <li *ngFor="let subCategory of category.subCategories">
                     <a [routerLink]="['/category']" [queryParams]="{ id: subCategory._id, name: subCategory.name }" href="{{ subCategory.name }}">{{ subCategory.name }}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <h3 class="h5 mt-5 mb-4">Фильтры по товарам</h3>
        <h6 class="mb-2 pb-1">Название</h6>
        <input
          #searchBox
          type="text"
          class="form-control"
          placeholder="Фильтр по названию"  
          (input)='addProductNameToQuery(searchBox.value)'
         />
        <app-brands></app-brands>
        <app-price-slider  (pricesValue)='pricesValue($event)' >
        </app-price-slider>
      </div>
      <div class="col-lg-8 col-xl-9">
        <h3 class="h5 mt-4 mt-md-0 pt-1 mb-4">{{ query.name }}</h3>
        <div *ngFor="let product of products?.items" class="product-list-box">
          <div
            [routerLink]="['/category/one-product']"
            [queryParams]="{ id: product._id }"
            class="inner-col description-col"
            (click)="currentProduct(product._id)"
          >
            <div class="product-img">
              <img width="80" src="{{ product.images[0].url }}" alt="img" />
            </div>
            <div class="product-desc">
              <h4 class="col-title mb-2">
                {{ product.name }}
              </h4>
              <app-ngx-shop-star-rating
                feedbackRate="{{ product.rating }}"
              ></app-ngx-shop-star-rating>
              <p class="rate-amount d-none d-md-block mt-1">
                {{ product.feedbacksCount }}
              </p>
            </div>
          </div>

          <div class="default-col inner-col price-col">
            <h4 class="col-title price-text mb-2">
              {{ product.price | currency: 'EUR' }}
            </h4>
            <div>
              <button
                (click)="addToBusket(product)"
                type="button"
                class="btn btn-outline-primary"
              >
                Добавить в корзину
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
