<div *ngFor="let category of categoriesArr; let i = index" class="list-group-item" (click)="hover(i)">
  <h5 class="mb-0">
    {{ category.name }}
    <img loading="lazy" src="assets/icons/icon-angle.svg" alt="angle-right" />
  </h5>
  <ul class="collapse" data-parent="#accordion" [ngClass]="{ show: i === currentIndex }">
    <li *ngFor="let subCategory of category.subCategories" (click)="categorySelect(subCategory._id)">
      <a [ngStyle]="subCategory._id === currentCategory && { color: 'red' }">{{ subCategory.name }}
      </a>
    </li>
  </ul>
</div>