<div class="form-group">
  <h6 class="mb-2 pb-1">
    <label class="text-dark mb-0">Бренд</label>
  </h6>
  <div *ngFor="let brandName of brands; let i = index">
    <div class="custom-control custom-checkbox mb-2" *ngIf="showBrand(i)">
      <input
        [checked]="brandsToShow.includes(brandName)"
        type="checkbox"
        (click)="check(brandName)"
        class="custom-control-input"
        [id]="brandName"
      />
      <label class="custom-control-label text-dark" [for]="brandName">{{
        brandName
      }}</label>
    </div>
  </div>

  <div class="all-characters">
    <a *ngIf="!isShow" (click)="show()">еще</a>
  </div>
</div>
