<main role="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-xl-3" [formGroup]="form">
        <h6 class="mt-4 mt-lg-2 mb-4">Другие категории</h6>
        <div class="aside-accordion-menu list-group">
            <ngx-shop-category-dropdown *ngFor="let category of categories$ | async; let i = index" [category]='category' [index]='i'  formControlName="currentCategory"  ></ngx-shop-category-dropdown>
        </div>
        <h3 class="h5 mt-5 mb-4">Фильтры по товарам</h3>
        <h6 class="mb-2 pb-1">Название</h6>
        <input
          #searchBox
          type="text"
          class="form-control"
          placeholder="Фильтр по названию"
          formControlName='searchByName'
          (input)="addProductNameToQuery(searchBox.value)"
        />
        <ngx-shop-brands
          (queryBrands)="getBrands($event)"
          [brands]="brands"
        ></ngx-shop-brands>
        <ngx-shop-price-slider (pricesValue)="pricesValue($event)">
        </ngx-shop-price-slider>
      </div>
      <div class="col-lg-8 col-xl-9">
        <!-- <h3 class="h5 mt-4 mt-md-0 pt-1 mb-4">{{ query.name }}</h3> -->
        <ngx-shop-content-product *ngFor="let product of products$ | async" [product]="product"></ngx-shop-content-product>
      </div>
    </div>
  </div>
</main>
