<div class="col-lg-12">
  <ul class="list-group sidebar">
    <li
      *ngFor="let category of categories; let i = index"
      class="list-group-item dropdown"
      [ngClass]="{ show: i === currentIndex }"
    >
      <a class="nav-link dropdown-toggle" (mouseenter)="hover(i)">
        {{ category.name }}
      </a>
      <ul class="dropdown-menu" [ngClass]="{ show: i === currentIndex }">
        <li
          class="dropdown-item"
          *ngFor="let subCategory of category.subCategories"
        >
          <a (click)="redirectToCategory(subCategory._id)">{{
            subCategory.name
          }}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
