<div class="backdrop" [ngClass]="!currentName | swClass: '':'show'"></div>
<ul class="list-group sidebar">
  <li
    *ngFor="let category of categories; let i = index"
    class="list-group-item dropdown pointer"
    [ngClass]="category.name !== currentName | swClass: '':'show'"
  >
    <a
      class="nav-link dropdown-toggle pointer"
      style="color: black"
      (mouseenter)="hover(category.name)"
      (mouseleave)="mouseLeave()"
    >
      {{ category.name }}
    </a>
    <ul
      class="dropdown-menu"
      (mouseenter)="hover(category.name)"
      (mouseleave)="mouseLeave()"
      [ngClass]="category.name !== currentName | swClass: '':'show'"
    >
      <li
        class="dropdown-item pointer"
        *ngFor="let subCategory of category.subCategories"
      >
        <a (click)="redirectTo(subCategory._id)">{{ subCategory.name }}</a>
      </li>
    </ul>
  </li>
</ul>
