<div class="product-list-box">
  <div (click)="redirectTo()" class="inner-col description-col">
    <div class="product-img pointer">
      <img
        loading="auto"
        class="img"
        width="80"
        [src]="product.images | imgUrl"
        [alt]="product.name"
      />
    </div>
    <div class="product-desc">
      <h4 class="col-title mb-2 pointer">
        {{ product.name }}
      </h4>
      <ngx-shop-star-rating
        tooltip="Рейтинг товара"
        position="top"
        [feedbackRate]="product.rating | rate"
      >
      </ngx-shop-star-rating>
      <p class="rate-amount d-none d-md-block mt-1">
        {{ product.feedbacksCount | review }}
      </p>

      <p class="price-text mb-0 mt-2 d-inline-block d-md-none">
        <strong>{{ product.price | currency: 'EUR' }}</strong>
      </p>
    </div>
  </div>

  <div class="default-col inner-col price-col">
    <h4 class="col-title price-text mb-2">
      {{ product.price | currency: 'EUR' }}
    </h4>
    <div class="button-wrap">
      <button
        (click)="addToBasket(product)"
        type="button"
        class="btn btn-outline-primary"
      >
        Добавить в корзину
      </button>
    </div>
  </div>
</div>
