<h3>no products yet</h3>

<footer class="footer">
  <div class="container">
    <div class="footer-inner">
      <div class="footer-menu">
        <a href="#" class="text-muted">Terms and Conditions</a>
        <span class="d-none d-md-inline-flex">|</span>
        <a href="#" class="text-muted">Privacy</a>
        <span class="d-none d-md-inline-flex">|</span>
        <a href="#" class="text-muted">Cookies</a>
        <span class="d-none d-md-inline-flex">|</span>
        <a href="#" class="text-muted">Home shopping guarantee</a>
      </div>
      <div>
        © 1998-2019, AnyShop.com, Inc. or its affiliates
      </div>
    </div>
  </div>
</footer>