<div
  class="card"
  [routerLink]="['/category/product']"
  [queryParams]="{ id: product._id }"
>
  <div class="card-img-wrap">
    <img
      class="card-img-top"
      [src]="product.images | imgUrl"
      [alt]="product.name"
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">
      {{ product.name }}
    </h5>
    <div class="rate">
      <app-ngx-shop-star-rating
        [feedbackRate]="product.rating | rate"
      ></app-ngx-shop-star-rating>
      <span class="rate-amount ml-2">{{ product.feedbacksCount }}</span>
    </div>
    <p class="card-text price-text">
      <strong>{{ product.price | currency: 'EUR' }}</strong>
    </p>
  </div>
</div>
