<div class="review">
  <div class="review-header">
    <h4>Оставить коментарий</h4>
  </div>
  <div class="row">
    <div class="col-lg-9">
      <div class="add-review my-12" [formGroup]="feedbackForm">
        <div class="offer">
          Добавить оценку
          <ngx-shop-rating
            formControlName="rate"
            ngxShopTooltip="Оцените товар"
            [position]="position"
          ></ngx-shop-rating>
        </div>
        <label
          class="feedback-inputs-label"
          ngxShopTooltip="Оставьте ваш отзыв о товаре"
          [position]="position"
        >
          Добавить коментарий
        </label>
        <div class="form-group">
          <textarea
            formControlName="advantages"
            class="form-control"
          ></textarea>
        </div>
        <div class="form-valid">
          <ng-container *ngIf="getField('advantages')?.errors as errors">
            <p *ngIf="errors && errors['minlength']">
              Отзыв должен состоять минимум из 10 символов
            </p>
          </ng-container>
        </div>
        <div class="button-conrainer">
          <button
            type="submit"
            class="btn btn-outline-primary px-3"
            (click)="addFeedback(feedbackForm.value)"
            [disabled]="feedbackForm.invalid"
          >
            Добавить отзыв
          </button>
          <button class="btn btn-primary px-3 second" (click)="close()">
            Отменить
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
