   <div class="col-lg-12">
      <ul class="list-group sidebar">
        <li class="list-group-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Camera & Photo
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdown1">
            <li class="dropdown-item"><a>Accessories</a></li>
            <li class="dropdown-item">
              <a>Action Cameras & Accessories</a>
            </li>
            <li class="dropdown-item">
              <a>Binoculars, Telescopes & Optics</a>
            </li>
            <li class="dropdown-item"><a>Camcorders</a></li>
            <li class="dropdown-item"><a>Digital Cameras</a></li>
            <li class="dropdown-item"><a>Digital Picture Frames</a></li>
            <li class="dropdown-item"><a>Film Cameras</a></li>
            <li class="dropdown-item"><a>Film Scanners</a></li>
            <li class="dropdown-item"><a>Flashes</a></li>
            <li class="dropdown-item"><a>Lenses</a></li>
            <li class="dropdown-item"><a>Photo Printers</a></li>
            <li class="dropdown-item"><a> Slide Projectors</a></li>
            <li class="dropdown-item"><a>Slide Viewers</a></li>
            <li class="dropdown-item"><a>Surveillance Cameras</a></li>
            <li class="dropdown-item"><a>Tripods & Monopods</a></li>
            <li class="dropdown-item">
              <a>Underwater Video & Photography</a>
            </li>
            <li class="dropdown-item"><a>Video Projectors</a></li>
          </ul>
        </li>
        <li class="list-group-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdown2" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Home Cinema, TV & Video
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdown2">
            <li class="dropdown-item"><a>Home Cinema, TV & Video</a></li>
          </ul>
        </li>
        <li class="list-group-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdown3" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Mobile Phones
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdown3">
            <li class="dropdown-item"><a>Mobile Phones</a></li>
          </ul>
        </li>
        <li class="list-group-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdown4" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Computers & Components
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdown4">
            <li class="dropdown-item"><a>Computers & Components</a></li>
          </ul>
        </li>
      </ul>